# Node modules
node_modules

# Logs
logs
*.log

# Cache
diskcache

# Coverage
coverage

# Image files
*.png
*.jpg
*.jpeg
*.gif

# HTML files
html

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Docker files
Dockerfile
docker-compose.yml
